<nav class="main-nav">
  <div class="container">
    <ul class="main-nav__list">
      <li class="main-nav__item"><a class="main-nav__link" href="/">Home</a></li>
      <li class="main-nav__item"><a class="main-nav__link" href="/services">Services</a></li>
      <li class="main-nav__item"><a class="main-nav__link" href="/carriers">Carriers</a></li>
      <li class="main-nav__item"><a class="main-nav__link" href="/blog">Useful Stuff</a></li>
      <li class="main-nav__item"><a class="main-nav__link" href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>
