{% if include.notification %}
  <a href="https://forms.gle/hUBVo2JMPK7BAYqM7" class="notification {% if include.hero %}notification--pull-up{% endif %}">
    <div class="notification__inner">
      <div class="notification__content">
        <p>Next sling library session:</p>
        <p class="notification__highlight">Thursday 7th January at Lydney&nbsp;Community&nbsp;Centre</p>
        <p><span class="notification__faux-link">Book now to reserve your space!</span></p>
      </div>
    </div>
  </a>
{% endif %}
