.main-content {
  flex-grow: 1;
  border-top: 4px solid $color-primary-dark;
  position: relative;
  background-color: $color-white;
  padding: spacing(6) 0 spacing(10);

  @media screen and (min-width: $breakpoint-tablet) {
    padding: spacing(8) 0 spacing(12);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url('/assets/image/texture.jpg');
    height: spacing(30);
    opacity: 0.6;
    z-index: 0;

    @media screen and (min-width: $breakpoint-tablet) {
      height: spacing(20);
    }
  }
}

.main-content__inner {
  position: relative;
}
