.main-nav {
  background-color: $color-common-grey05;
  padding: spacing(0.5) 0 0;
}

.main-nav__list {
  display: flex;
  justify-content: flex-end;
}

.main-nav__item {
  display: inline-block;
}

.main-nav__link {
  display: block;
  padding: spacing(1) spacing(1.5);
  color: $color-common-white;
  text-decoration: none;
  border-radius: $radius-standard;
  transition: background-color $duration-standard $easing-standard;

  @media screen and (min-width: $breakpoint-tablet) {
    padding: spacing(1) spacing(2);
  }

  &:hover,
  &:focus {
    text-decoration: $duration-shortest;
    background-color: $color-secondary;
  }
}
