.prose {
  > * + * {
    margin-top: spacing(2);
  }

  // h1,
  // h2,
  // h3,
  // h4,
  // h5,
  // h6 {
  //   //
  // }

  > {
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: spacing(4);
    }
  }

  h1 {
    font-size: spacing(4);
    line-height: spacing(6);
    font-family: $font-heading;
    font-weight: 400;
  }

  h2 {
    font-size: spacing(5);
    line-height: spacing(6);
    font-family: $font-heading;
    font-weight: 400;
    color: $color-primary;
  }

  h3 {
    font-size: spacing(2.5); // 20
    line-height: spacing(4); // 28
    color: $color-primary;
  }

  h4,
  h5,
  h6 {
    font-size: spacing(2); // 16
    line-height: spacing(3); // 24
  }

  em {
    font-style: italic;
  }

  li {
    list-style-position: outside;
    margin-left: spacing(4);
  }

  ul {
    li {
      padding-left: spacing(4);
      margin-left: 0;
      list-style-type: none;
      background-repeat: no-repeat;
      background-position: 8px 8px;
      background-size: 10px 10px;
      background-image: url('/assets/image/dot-01.svg');

      &:nth-child(3n + 2) {
        background-image: url('/assets/image/dot-02.svg');
      }
      &:nth-child(3n + 3) {
        background-image: url('/assets/image/dot-03.svg');
      }

      li {
        list-style-type: circle;
      }
    }
  }

  ol {
    li {
      list-style-type: decimal;

      li {
        list-style-type: lower-roman;
      }
    }
  }

  // a {
  //   color: $color-primary;
  //   text-decoration: underline;
  //   transition: color $duration-standard $easing-standard;

  //   &:hover,
  //   &:focus,
  //   &:active {
  //     color: $color-primary-dark;
  //     transition-duration: $duration-shortest;
  //   }
  // }

  a {
    text-decoration: none;
    text-shadow: -1px -1px 0 $color-white, 1px -1px 0 $color-white,
      -1px 1px 0 $color-white, 1px 1px 0 $color-white;
    color: $color-primary;
    display: inline;
    transition: background-size $duration-standard $easing-standard;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    background-size: 0 2px, 100% 2px;
    background-image: linear-gradient(to right, $color-primary, $color-primary),
      linear-gradient(to right, $color-grey75, $color-grey75);

    &:hover,
    &:active,
    &:focus {
      outline: 0;
      text-decoration: none;
      background-size: 100% 2px, 100% 2px;
      background-position: 0 100%, 0 100%;
    }
  }

  hr {
    height: 0;
    opacity: 0.5;
    border: 0;
    border-bottom: 1px solid currentColor;
    margin-bottom: -1px;
  }

  blockquote {
    color: $color-grey25;
    font-size: spacing(2.5);
    line-height: spacing(3.5);
    font-style: italic;
    padding-left: spacing(3);
    padding-right: spacing(3);
    text-indent: -1.5ch;

    &::before,
    &::after {
      color: $color-primary;
      font-size: 2em;
      line-height: spacing(3.5);
      vertical-align: bottom;
    }

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }

  // Last in the group for specificity reasons
  > *:first-child {
    margin-top: 0;
  }
}
